@charset "UTF-8";

@font-face {
    font-family: 'Berlin Sans FB Demi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB Demi Bold'), url('../fontes/BRLNSDB.woff') format('woff');
}

@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    src: local('Verdana Italic'), url('../fontes/VERDANAI.woff') format('woff');
}

:root{
    --fonte-verdana: 'Verdana';
    --fonte-berlin: 'Berlin Sans FB Demi Bold';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
    PALETA DE CORES:
        #6bbd9d
*/

body, html{
    overflow-x: hidden;
}

.topo-upp{ 
    display: flex;
    height: 60px;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#burguer{
    background-color: rgb(0, 0, 0);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    transition-timing-function: ease;
}

#burguer:hover{
    background-color: #6bbd9d;
    color: rgb(0, 0, 0);
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #6bbd9d;
    color: rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
}

menu a:hover{
    background-color: #000000;
    color: white;
}

.upp h1{
    color: #6bbd9d;
    text-align: center;
    font-size: 2.3em;
    font-family: var(--fonte-berlin);
    font-weight: bold;
    margin-bottom: 15px;
}

.upp p{
    font-family: var(--fonte-verdana);
    text-align: center;
    width: 90vw;
    margin: auto;
    font-size: 1.3em;
}

.projeto h1{
    margin-top: 25px;
    color: #6bbd9d;
    text-align: center;
    font-size: 2.3em;
    font-family: var(--fonte-berlin);
    font-weight: bold;
    margin-bottom: 15px;
}
.projeto{
    width: 100vw;
}

.images{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}

.image{
    margin-top: 15px;
    display: block;
    position: relative;
}

.image p{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 115px;
    margin-bottom: 30px;
    font-size: 1.3em;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

#ump{
    text-decoration: none;
    color: inherit;
    color: white;
    margin-left: 94px;
    margin-bottom: 30px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#doisp{
    text-decoration: none;
    color: inherit;
    color: rgb(0, 0, 0);
    margin-left: 113px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#tresp{
    text-decoration: none;
    color: inherit;
    color: rgb(0, 0, 0);
    margin-left: 105px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#quatrop{
    text-decoration: none;
    color: inherit;
    color: white;
    margin-left: 130px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#ump:hover{
    transform: scale(0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#doisp:hover{
    transform: scale(0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#tresp:hover{
    transform: scale(0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#quatrop:hover{
    transform: scale(0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projeto p{
    font-family: var(--fonte-verdana);
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;
    margin-left: 18px;
}

.especialidades{    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.especialidades p{
    font-family: var(--fonte-berlin);
    font-weight: bold;
    font-size: 1.3em;
}

#essas{
    font-family: var(--fonte-verdana);
    font-weight: 100;
    font-size: 1.3em;
    max-width: 90vw;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.ico{
    display: inline-block;
    text-align: center;
}

h1{
    color: #6bbd9d;
    text-align: center;
    font-size: 2.3em;
    font-family: var(--fonte-berlin);
    font-weight: bold;
    margin-bottom: 15px;
}

.contato h1{
    color: #000000;
    text-align: center;
    font-size: 2.5em;
    font-family: var(--fonte-berlin);
    font-weight: bold;
    margin-bottom: 15px;
}

form{
    text-align: center;
    
}

#finais input[type=text] {
    border: 1px solid rgb(158, 158, 158);
    padding: 20px;
    margin-top: 15px;
    width: 80vw;
    font-size: 1em;
}

#finais ::placeholder{
    font-size: 1.2em;
}

#finais input[type=email] {
    border: 1px solid rgb(158, 158, 158);
    padding: 20px;
    width: 80vw;
    margin-top: 15px;
    font-size: 1em;
}

#finais input[type=submit]{
    background-color: #000000;
    color: white;
    height: 57px;
    width: 145px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    border-style: none;
    transition: .3s;
    transition-timing-function: ease;
    cursor: pointer;
}

#finais input[type=submit]:hover{
    background-color: #6bbd9d;
    color: black;
}

#uni{
    border: 1px solid gray;
}

.icons{
    display: none;
}

#essas{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}